surya-ocr==0.22.1

# Need run manually installation `requirements.no-deps.ext`
# label-studio-ml depends on the latest label-studio-sdk source code,
# but only label-studio-sdk version 1.0.18 can coexist with Surya.
# label-studio-ml @ git+https://github.com/HumanSignal/label-studio-ml-backend.git

# The following are the dependency copy from https://github.com/HumanSignal/label-studio-ml-backend/blob/b06ebeb81531566ea10498f3ebe4013e43d5ee1d/requirements.txt
Flask==3.1.3
colorama==0.4.6
requests==2.34.2
semver==3.0.4
label-studio-sdk==1.0.18

gunicorn==22.0.0
boto3==1.35.91
