torch==2.5.1
surya-ocr==0.9.1
gradio==5.8.0
huggingface-hub==0.26.3
# gradio app need pdftext for run_ocr_errors
pdftext==0.5.0

# fix compatibility issue keep same with poetry lock file
transformers==4.48.1
# fix https://github.com/gradio-app/gradio/issues/10662
pydantic==2.10.5
