torch==2.7.0
surya-ocr==0.14.5
gradio==5.8.0
huggingface-hub==0.26.3
# gradio app need pdftext for run_ocr_errors
pdftext==0.5.0

# fix https://github.com/gradio-app/gradio/issues/10662
pydantic==2.10.5
